version: '2'
services:
    nginx:
        image: nginx
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
            - /etc/letsencrypt:/etc/letsencrypt:ro
        links:
            - wiki

    wiki:
        image: requarks/wiki
        container_name: wiki_host
        environment:
            SESSION_SECRET: ${SESSION_SECRET}
            WIKI_ADMIN_EMAIL: ${WIKI_ADMIN_EMAIL}
            HOST: ${HOST}
            FACEBOOK_APP_ID: ${FACEBOOK_APP_ID}
            FACEBOOK_APP_SECRET: ${FACEBOOK_APP_SECRET}
            GITHUB_CLIENT_ID: ${GITHUB_CLIENT_ID}
            GITHUB_CLIENT_SECRET: ${GITHUB_CLIENT_SECRET}
        volumes:
            - ./config.yml:/var/wiki/config.yml:ro
            - ./wiki-test.pem:/github.pem
        links:
            - wiki-db

    wiki-db:
        image: mongo:latest
        volumes:
            - db_data:/data/db

# We want persistent, anonymous data volumes
volumes:
    db_data:
